html {
  scroll-behavior: smooth;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron-title {
  padding: 3rem;
  background: #000064;  /* old browsers fallback color*/
  background: -webkit-linear-gradient(to left, #1BADD8, #00003E);
  background: linear-gradient(to left, #1BADD8, #00003E);
  color:#fff;
}

.hd1{
  color:#fff;
}

.jumbotron-features {
  background: #bef1d8;  /* old browsers fallback color*/
}

.jumbotron-sponsors {
  background: #eff7fa;  /* old browsers fallback color*/
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

ol {
  list-style-position: inside;
  padding-left: 0;
}
